name: Run tests

on:
  pull_request:
    branches:
      - master

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint==3.3.6 black==25.1.0
        pip install -r requirements.txt

    - name: Checking formatting with black
      run: |
        black --check ./play ./tests

    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files 'play/*.py')

    - name: Run tests
      run: |
        pytest ./tests/**
